<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="padding-bottom: 0;">
        <div class="container">
            <a class="navbar-brand" href="/" style="padding-bottom: 0">
                <img src="/svin.png" style="height:100px;"/>
            </a>

            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <a href="/" style="color:#000;"><span class="gopherchat">Привет, я Анатолий! Давай учить турецкий вместе!</span></a>
                <ul class="navbar-nav ml-auto">
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="/{{ .Lang }}/about.html">Времена</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="/{{ .Lang }}/about.html">Слова</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="/{{ .Lang }}/about.html">{{ if eq .Lang "ru"}}О сайте{{else}}О сайте{{end}}</a>-->
<!--                    </li>-->

                    {{/*                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ if eq .Lang "en" }}
                        <span class="flag-icon flag-icon-us"></span>
                        EN{{ end }}{{ if eq .Lang "ru" }}
                        <span class="flag-icon flag-icon-ru"></span>
                        RU{{ end }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="{{ index .LangLinks "en" }}">
                        <span class="flag-icon flag-icon-us"></span>
                        EN</a>
                        <a class="dropdown-item" href="{{ index .LangLinks "ru" }}">
                        <span class="flag-icon flag-icon-ru"></span>
                        RU</a>
                    </div>
                </li>*/}}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="bg-light">&nbsp;</div>